<body>
    <h1>Send message</h1>
    <form name="form1" method="POST" action="/message">
    <table>
        <tr>
        <td>Topic</td>
        <td><input type="text" name="topic" ></td>
        </tr>
        <tr>
        <td>Message</td>
        <td><input type="textbox" name="message" ></td>
        </tr>
        <tr>
        <td colspan="2"><input type="submit" value="Send" ></td>
        </tr>
    </table>
    </form>   
  
</body>